@import "../../../../assets/styles/variables.scss";


.Language{
    display: flex;
    margin: 10px 0px;
    .language-title{
        width: 30%;
        color: white;
        font-size: 1.1rem;
        text-align: right;
        line-height: 20px;
        // padding: 7% 9% 0 0 ;
    }
    .content{
        text-align: right;
        padding: 8%;
        font-size: 1.3rem;
        color: white;
        .title{
            margin-bottom: 3%;
        }
    }
    .elem-container{
        display: flex;
        padding-left: 10%;
        width: 50%;
    }
}

.full{
    width: 10px;
    height: 10px;
    margin: 5px 10px;
    border: 1px solid white;
    background-color: $font-color;
}

.empty{
    width: 10px;
    height: 10px;
    margin: 5px 10px;
    border: 1px solid white; 
}
