@import "../../../../assets/styles/variables.scss";

.content-job{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 50px;
    
    .one {
        grid-column: 1 / 1;
        grid-row: 1;
        .from-to{
            padding-bottom: 15px;
        }
    }
    .four {
        padding: 20px;
        grid-column: 2 / 3;
        grid-row: 1;
    }
    .five {
        padding: 10px 20px;
        grid-column: 2 / 3;
        grid-row: 2 ;
    }
    
    
}
.separator{
    width: 90%;
    margin: 20px 0px 0px 10%;
    height: 1px;
    background-color: $border-color;
}

