@import "../../../assets/styles/variables.scss";

.Professional_exp{
    padding: 3.5% 5% 5% 3%;
    .professional_exp-title{
        font-size: 1.5rem;
        margin: 0px 0px 5% 9%;
        text-align: left;
        font-weight: bold;
    }
}


