
$fontSize: 12px;
$white: white;
$white-transparent: #ffffff85;
$backgroundColor: #282c34;
$font-color:#74a0e0;
$background-color-transparent:#0030779a;
$font-shadow-color : #848484;
$border-color: $font-shadow-color;
$background-color-grey: #2121219a;
