@import "../../../assets/styles/variables.scss";

.Hobbies{
    padding: 3.5% 5% 5% 3%;
    .hobbies-title{
        font-size: 1.5rem;
        margin: 0px 0px 5% 9%;
        text-align: left;
        font-weight: bold;
    }
    .container{
        display: flex;
        justify-content: center;
        .content{
            border: 1px solid grey;
            height: 70px;
            width: 70px;
            box-sizing: border-box;
            margin : 0px 20px; 
            padding: 10px 0px;
            box-shadow: inset 0px 0px 2px 0px $font-shadow-color; 
            .title{
                font-size: 1.2rem;
            }
            .logo{
                .contact-icon-element{
                    font-size: 1.5rem;
                    margin-top: 5px;
                    
                }
            }
        }
    }
}


